@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif !important;
}

.container{
    margin-top: 1em;
}

.mainTitle{
    color: #007bff;
}